.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.picContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}