.page {
  display: flex;
  gap: 20px;
  color: white;
}

.aside {
  display: flex;
  flex-direction: column;
  width: 35%;
  padding: 10px;
  gap: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 75%;
  padding: 10px;
}

.title {
  color: #eb69aa;
  font-weight: bold;
}

.textWithIcon {
  display: flex;
  align-items: flex-end;
  width: 100%;
  border-bottom: 1px solid rgb(255 255 255 / 30%);
  margin-bottom: 20px;
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #33a6ff;
  gap: 5px;
}